Goedemorgen: {{title}}
<div>
  <button class="nav-item nav-link-edit" [routerLink]="['/student']">student</button >
    <button class="nav-item nav-link-edit" [routerLink]="['/school']">school</button >

  <h1>{{stad}}</h1>
  <span>{{leeftijd}}</span>
  <button (click)="naamFunctie()">veranderleeftijd</button>
  <input value="{{title}}" (change)="veranderNaam($event)">
  <input [(ngModel)]="stad" >
  <my-student></my-student>
  <my-student></my-student>
  <my-student></my-student>

  <div id="divRouterOutlet">
    <router-outlet></router-outlet>
  </div>  

</div>